.card {
    width: 60%;
    /* border-width: 10px; */
    border: 2px solid #000;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    background-color: white;
}

.like {
    display: flex;
    margin-left: auto;
}

.instruction {
    margin-left: auto;
    margin-right: auto;
}