.App {
  text-align: center;
  height: auto;
  
}

html {
  background-color: rgba(84, 72, 200, 0.8);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header-text {
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  background-color: rgba(0, 0, 34, .6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.connect-wallet {
  display: inline-flex;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.App-notice {
  background-color: rgba(0,0,0,.3);
  width: fit-content;
  padding: 1rem;
  margin:auto;
  margin-bottom: 1rem;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color:rgba(0, 0, 34, .85);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border:0;
  padding: .6rem;
  margin: 0.2rem;
  font-size: 1rem;
}
